@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Mulish", sans-serif;
}


.display-flex {
    display: flex;
}


.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
}


.logo {
    height: 40px;
    width: auto;
}


.nav-links {
    list-style: none;
    list-style:none;
    gap: 30px;
}


.nav-item a {
    text-decoration: none;
    color: rgba(31,21,52,0.5);
    font-size: 16px;
    
}

.nav-item a:first-child a {
    color: #1F1534;
    font-weight:700;
}

.hero 
{ 
    display: flex; 
    justify-content: 
    space-between; align-items: 
    center; padding: 60px 120px; 
} 
.hero-text { 
    max-width: 450px; 
} 
.hero-text h1 { 
    font-size: 42px; 
    font-weight: 700;
    color: #000; 
    margin-bottom: 20px; 
 } 
.hero-text p 
 { 
    font-size: 18px; 
    color: #7D7987; 
    margin-bottom: 30px; 
} 
.btn {
     background-color: #458FF6; 
     color: white; 
     border: none; 
     padding: 12px 28px; 
     border-radius: 25px; 
     font-size: 16px; 
     cursor: pointer;
     } 
.hero-img img { 
    width: 500px; 
}
.services {
  padding: 100px 0;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-desc {
  max-width: 700px;
  margin: auto;
  color: #7D7987;
  line-height: 1.6;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 60px;
}
.service-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: left;
 box-shadow: 0px 10px 40px rgba(229, 233, 246, 0.8);

  transition: 0.3s;
}

.service-card img {
  width: 50px;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  color: #7D7987;
}
.service-card:hover {
  transform: translateY(-10px);
}
.services-btn {
  margin-top: 50px;
}

.btn-outline {
  border: 1px solid #458FF6;
  color: #458FF6;
  padding: 12px 30px;
  border-radius: 50px;
  background: transparent;
}


